.mj-kb-layout {
  width: 100%;
  background-color: darkgray;
  margin-top: 1rem;
}

.mj-kb-table {
  width: 100%;
  table-layout: fixed;

  border-spacing: 2px;
  border-collapse: separate;
}

.mj-kb-table td {
  background-color: #ffffff;
  border-radius: 3px;
  text-align: center;
}

.mj-kb-table a {
  display: block;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 2em;
  padding: 5px 2px;
  color: #000;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
}

.mj-kb-table a img {
  width: 2rem;
}

.mj-kb-table td.mj-kb-undo {
  background-color: #fff2c5;
}

.mj-kb-table td.mj-kb-undo a, .mj-kb-table td.mj-kb-clear a {
  font-size: 1em;
}

.mj-kb-table td.mj-kb-clear {
  background-color: #ffb2b2;
}

.mj-kb-table td:hover {
  background-color: #616161;
}

.mj-kb-table td:hover a {
  color: #fff;
  text-decoration: none;
}

.mj-kb-hide {
  display: none;
}
